.alert__wrapper {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 300px;
  height: 0;
  background-color: var(--color-surface);
  border-radius: 12px;
  border: 1px solid var(--color-border);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);
  transition: height 0.3s ease, opacity 0.3s ease;
  padding: 15px 20px;
  z-index: 20000;
}

.alert__text {
  font-size: 1.1rem;
  color: var(--color-text-secondary);
  font-weight: 650;
  text-align: center;
}

.alert__close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  border: none;
  line-height: 1;
  transition: color 0.2s ease-in-out;
}

.alert__close:hover {
  color: var(--color-error);
}

.alert__wrapper.show {
  opacity: 0.8;
  height: 80px;
}

@media screen and (max-width: 530px) {
  .alert__wrapper {
    width: 200px;
  }

  .alert__text {
    font-size: 0.7rem;
  }

  .alert__wrapper.show {
    height: 60px;
  }
}
