.star__wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star__header {
  font-size: 1.5rem;
  color: var(--color-text-secondary);
}

.star__results {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .star__header {
    font-size: 1.2rem;
  }
}
